body {
    background-color: grey;
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: lightyellow;
}

img {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

div {

}

#header {
    background-color: lightblue;
    text-align: center;
    border-width: 5px;
    border-style: dashed;
}

#list {
    border-width: 1px;
    border-style: dashed;
    border-color: lightblue;
    padding: 15px;
    margin-left: 35%;
}

#navlinks {
    position: fixed;
}

#footer {
    border-width: 1px;
    border-style: solid;
    background-color: yellow;
    text-align: center;
    padding: 1%;
}